@page "/"

<div class="container">
    <h4 class="text-center">To do App - Vertical Slice Architecture</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white">
                <div class="card-body">
                    <TodoApp.Features.Create.CreateTodoComponent />

                    <GetTodosListComponent />
                </div>
            </div>
        </div>
    </div>
</div>